img {
  width: 100%;
}

.main-color {
  color: #0fcfec;
}

.second-color {
  color: #3a4256;
}

.primary-btn {
  color: #000;
  background-color: #0fcfec;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  border: none;
}
.primary-btn:hover {
  color: #fff;
  background-color: #3a4256;
}
.link {
  background-color: #3a4256;
  color: #fff;
}

a {
  text-decoration: none !important;
}
